* {
    margin: 0;
    padding: 0; /* 'none' is not a valid value for padding */
    border: none; 
    outline: none;
    box-sizing: border-box;
   
}

body {
    display: flex;
    background: #a9c5e282
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px; 
    height: 100vh;
    padding: 0 1.7rem;  
     
    overflow: hidden;
    transition: all 0.5s linear;
    background-color:#103a93

}

/* Fix: 'sidebar :hover' should be '.sidebar:hover' */
.sidebar:hover {
    width: 260px; /* Expanding the sidebar on hover */
    transition: 0.5s;
}

.logo {
    height: 80px;
    padding: 16px;
}

.menu {
    height: 88%;
    list-style: none; /* Removing default list styles */
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover {
    background-color: rgb(202, 194, 255);
    
}

.active {
    background-color: rgba(230, 194, 255, 0.516); /* A different shade for the active item */
}

.menu a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* Adding 'white-space: nowrap' to prevent text from wrapping */
.menu a span {
    overflow: hidden;
    white-space: nowrap; /* Prevents text from wrapping inside the span */
}

.menu a i {
    font-size: 1.2rem;
}


.main--content
{
    position:relative;
    background: #E3F2F7;
       padding: 1rem;
       width: 100%;
       
}
.header--wrapper img 
{
   width: 50px;
   height: 50px;
   border-radius: 50%;
}
 
.header--wrapper
{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 background: white;  
 border-radius: 10px;
 padding:10px 2rem;
 margin-bottom: 1rem; 
}
.header--title
{
    color:navy;
 
}
