fieldset {
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    background-color: #B0D4D4;
    border-radius: 35px;
    box-shadow: 0px 4px 10px rgba(176, 18, 243, 0.447);
    border: none;
}
.head
{
margin-top: 10px;
color: rgb(144, 43, 239);
margin-bottom: 10px;
}
body
{
background-color: aliceblue;
}